<h1><%= @request.title %></h1>	

<% if @request.expired? %>

	<%= "This request expired #{Date.today - @request.whichever_date} days ago" %>

<% elsif @request.canceled? %>

	This request has been canceled.

<% elsif @request.denied? %>
	
	This request has been denied.

<% elsif @request.pending_approval? %>

	<i><%= "#{@request.receiver.name} has accepted your request!" %></i><br />
	<i><%= "#{@request.receiver.first_name} has supplied a location and a list of times" %><br />
		
		<p><%= "Do you still want to meet with #{@request.receiver.first_name}?" %></p>

		<%= link_to "Accept Request", confirm_path(:id => @request.id) %> 
	
		<%= link_to "I need to cancel", deny_path(:id => @request.id)%>

<% elsif @request.pending_acceptance? %>
	
	This request is pending acceptance.
	  
<% elsif @request.approved? %>
	<i><%= "This request has been approved by both sides!" %>
	
	<b>Date: <%= @request.date.strftime("%B %d, %Y") %></b><br />
	<b>Location: <%= @request.location %></b><br /><br />

	<%= link_to "Edit request", edit_request_path(@request.id), :class => "edit" %>

<% end %>

<h1>Messages</h1>

<% @request.messages.each do |message| %>
  	<%= message.user %>:
	<%= message.body %><br />
<% end %><br />

<% if @request.receiver_confirmation %>
  <%= render "message_field" %>
<% else %>
  <%= link_to "Edit request", edit_request_path(@request.id), :class => "edit" %>
<% end %><br /><br />

<% if @review %>
	<%= "Review: #{@review.body}"%><br /><br />
<% end %>

