<h1><%= @request.title %></h1>	

<% if @request.expired? %>

	<%= "This request expired #{Date.today - @request.whichever_date} days ago" %>

<% elsif @request.canceled? %>

	This request has been canceled.

<% elsif @request.denied? %>
	
	This request has been denied.

<% elsif @request.pending_approval? %>

	<i><%= "You have accepted #{@request.sent_by.first_name}'s request! Waiting for #{@request.sent_by.first_name} to approve the location and finalize the time." %></i><br />

	<%= "Location chosen: #{@request.location}" %> <br />
	<%= "Address: #{@request.address}" %><br />
	<%= @request.csp %>
	
	<ul class="request_options">
		<li><%= link_to "Cancel", deny_path(:id => @request.id) %></li>
	</ul>

	<%= link_to "Edit request", edit_request_path(@request.id), :class => "edit" %>

<% elsif @request.pending_acceptance? %>
	
	This request is pending acceptance. You can choose to accept or deny this request.
	<ul class="request_options">
		<li><%= link_to "Accept", accept_path(:id => @request.id) if @request.receiver_confirmation != true%></li>
		<li><%= link_to "Deny", deny_path(:id => @request.id) %></li>	
	</ul>
	  
<% elsif @request.approved? %>
	<i><%= "This request has been approved by both sides!" %>
	
	<b>Date: <%= @request.date.strftime("%B %d, %Y") if @request.date %></b><br />
	<b>Location: <%= @request.location  if @request.location %></b><br /><br />
	<b>Time: <%= "#{@request.start_time.strftime('%l:%M %p')} - #{@request.end_time.strftime('%l:%M %p')}" %></b><br/>
	
	<ul class="request_options">
		<li><%= link_to "Cancel", deny_path(:id => @request.id) %></li>
	</ul>

	<%= link_to "Edit request", edit_request_path(@request.id), :class => "edit" %>

<% end %>

<h1>Messages</h1>

<% @request.messages.each do |message| %>
  	<%= message.user %>:
	<%= message.body %><br />
<% end %><br />

<br />

<%=render "message_field" %><br />

<% if @review %>
	<%= "#{@request.sent_by.first_name}'s review: #{@review.body}"%><br /><br />
	<%= link_to "Delete review", delete_review_path(@review.id) %>
<% end %>


