<h1><%= @request.title %></h1>	

<% if @request.pending_approval? %>

	<i><%= "You have accepted #{@request.sent_by}'s request!" %></i><br />
	<i><%= "Supply a location and a list of times" %><br />
		Please pick a time and approve the request details.<br />

	<%= link_to "Choose time and approve location", "#" %><br />

	<%#= link_to "Accept Request", confirm_path(:id => @request.id) %> | <%#= link_to "Deny Request", deny_path(:id => @request.id)%>
	
<% elsif @request.approved? == true && @request.date >= Date.today %>
	<i><%= "This request has been approved by both sides!" %>
	
	<b>Date: <%= @request.date.strftime("%B %d, %Y") %></b><br />
	<b>Location: <%= @request.location %></b><br /><br />

<% elsif @request.receiver_confirmation == false %>
	<%= "Sorry, #{@request.receiver} has denied your request"%>

<% elsif @request.canceled? == true %>
	<%= "#{@request.sent_by.name} canceled this request" %>

<% elsif @request.date >= Date.today %>
	<i>Request Pending</i>

<% elsif @request.approved? && @request.date < Date.today %>
	<%= "Date: #{@request.date}" %><br />
	<%= "Location: #{@request.location}" %>

<% end %>

<h1>Messages</h1>

<% @request.messages.each do |message| %>
  	<%= message.user %>:
	<%= message.body %><br />
<% end %><br />

<br />

<% if @request.canceled? || @request.date < Date.today %>
	<%=render "message_field" %><br />
	<% if @review %>
		<%= "#{@request.sent_by.first_name}'s review: #{@review.body}"%><br /><br />
		<%= link_to "Delete review", delete_review_path(@review.id) %>
	<% end %>
<% else %>
	<%= link_to "Edit request", edit_request_path(@request.id)%>
<% end %>


