<div class="ui-widget">
  <tr><td><%= builder.label :skill %><br />
  <%= builder.text_field :tag, :class => "skill" %></td>
</div>

<div class="field">
  <td><%= builder.label :description %><br />
  <%= builder.text_area :description, :size => "30x10" %></td>
  <td><%= builder.link_to_remove "Remove this skill" %></td></tr>
</div>


