<%= nested_form_for(@user, :url => :user, :html => {:multipart => true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.each_with_index.each do |msg, i| %>
        <li><%= msg[1] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <% if @user.avatar_file_name %>
	<%= image_tag @user.avatar.url(:medium) %>
  <% end %><br />

  <div class="field">
	<%= f.file_field :avatar %>
  </div>

  <div class="field">
     <a name="#mybio"><%= f.text_area :bio, :size => "30x10", :placeholder => "Write your bio here" %></a>  
  </div>

  <div class="field">
	<%= f.label "High School" %>
	<%= f.text_field :high_school %>
  </div>

  <div class="field">
	<%= f.label "College" %>
	<%= f.text_field :college %>
  </div>

  <div class="field">
	<%= f.label :degree %>
	<%= f.text_field :degree %>
  </div>

  <div class="field">
	<%= f.label :occupation %>
	<%= f.text_field :occupation %>
  </div>

  <div class="field">
	<%= f.label :zipcode %>
	<%= f.text_field :zipcode %>
  </div>

  <div class="field">
	<%= f.label :city %>
	<%= f.text_field :city %>
  </div>

  <div class="field">
	<%= f.label :state %>
	<%= f.text_field :state %>
  </div>
 
  <% f.hidden_field :username %>

  <div class="actions">
     <%= f.submit "Update Profile", :class => "btn" %>
  </div>

<% end %>