<%= form_for(@user, :url => :user, :html => {:multipart => true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
     <%= f.label :bio %><br />
     <%= f.text_area :bio, :size => "30x10" %>
  </div>
  <% if @user.avatar_file_name %>
	<%= image_tag @user.avatar.url(:medium) %>
  <% end %>
  <div class="field">
	<%= f.file_field :avatar %>
  </div>
	
  <table>
    <th>Skill</th>
	<th>Description</th>
	
  <%= f.fields_for :my_skills do |builder| %>
	  <div class="ui-widget">
	   <tr><td><%= builder.label :skill %><br />
		<%= builder.text_field :tag, :class => "skill" %></td>
	  </div>

	  <div class="field">
		<td><%= builder.label :description %><br />
		<%= builder.text_area :description, :size => "30x10" %></td></tr>
	  </div>
  <% end %>
  
  </table>

  <% f.hidden_field :username%>

  <div class="actions">
     <%= f.submit "Update Profile" %>
  </div>

<% end %>