<br /><br /><br /><br /><br /><br /><br />

<%= nested_form_for(@user, :url => :user, :html => {:multipart => true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <% if @user.avatar_file_name %>
	<%= image_tag @user.avatar.url(:medium) %>
  <% end %><br />

  <div class="field">
	<%= f.file_field :avatar %>
  </div>

  <div class="field">
     <%= f.label :bio %><br />
     <%= f.text_area :bio, :size => "30x10" %>
  </div>

  <div class="field">
	<%= f.label "High School" %>
	<%= f.text_field :high_school %>
  </div>

  <div class="field">
	<%= f.label "College" %>
	<%= f.text_field :college %>
  </div>

  <div class="field">
	<%= f.label :degree %>
	<%= f.text_field :degree %>
  </div>

  <div class="field">
	<%= f.label :occupation %>
	<%= f.text_field :occupation %>
  </div>

  <table>
    <th>Skill</th>
	<th>Description</th>
	<th> </th>

  <%= f.fields_for :my_skills do |builder| %>
	  <%= render "users/skill", :builder => builder%>
  <% end %>
  
  </table>

  <p><%= f.link_to_add "Add a skill", :my_skills%></p>

  <% f.hidden_field :username%>

  <%#= link_to "Add new skill", new_skill, remote: :true%>

  <div class="actions">
     <%= f.submit "Update Profile" %>
  </div>

<% end %>