<%= nested_form_for(@user, :url => :user, :html => {:multipart => true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.each_with_index.each do |msg, i| %>
        <li><%= msg[1] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <% if @user.avatar_file_name %>
	<%= image_tag @user.avatar.url(:medium) %>
  <% end %><br />

  <div class="field">
	<%= f.file_field :avatar %>
  </div>

  <div class="field">
     <%= f.label :bio %><br />
     <a name="#mybio"><%= f.text_area :bio, :size => "30x10" %></a>  
  </div>

  <div class="field">
	<%= f.label "High School" %>
	<%= f.text_field :high_school %>
  </div>

  <div class="field">
	<%= f.label "College" %>
	<%= f.text_field :college %>
  </div>

  <div class="field">
	<%= f.label :degree %>
	<%= f.text_field :degree %>
  </div>

  <div class="field">
	<%= f.label :occupation %>
	<%= f.text_field :occupation %>
  </div>

  <div class="field">
	<%= f.label :zipcode %>
	<%= f.text_field :zipcode %>
  </div>

  <div class="field">
	<%= f.label :city %>
	<%= f.text_field :city %>
  </div>

  <div class="field">
	<%= f.label :state %>
	<%= f.text_field :state %>
  </div>

  <br />
  <br />

  <h3><a name="myskills">My Skills</a></h3>

  <table>
  	<th>Skill</th>
	<th>Description</th>
	<th> </th>
	<% index = 0 %>
	<%= f.fields_for :my_skills, :wrapper => false do |builder| %>
     	<%= render "skill_fields", :f => builder, :index => index %>
		<% index = index + 1 %>
    <% end %>

  </table>
 
  
  <p><%= f.link_to_add "Add a skill", :my_skills %></p>


  <h3><a name="myinterests">Currently Learning</a></h3> 

  <table>
	<th>Interest</th>
	<th> </th>
  	<%= f.fields_for :interests, :wrapper => false do |interest| %>
    	<%= render "interest_fields", :f => interest, :index => index %>
    <% end %>
  </table>


  
  <p><%= f.link_to_add "Add a topic", :interests %></p>

 

  <% f.hidden_field :username%>

  <div class="actions">
     <%= f.submit "Update Profile", :class => "btn" %>
  </div>

<% end %>