<h1>Find People</h1>

<%= search_form_for @search, :url => search_path, :html => {:method => :post} do |f| %>
  <%= f.text_field :first_name_cont, placeholder: "First Name", :class => "search-field" %>

  <%= f.text_field :last_name_cont, placeholder: "Last Name", :class => "search-field" %>

  <%= f.text_field :my_skills_tag_cont, placeholder: "Skill", :class => "search-field" %>

  <%= f.text_field :interests_tag_cont, placeholder: "Currently Learning", :class => "search-field" %>


  <%= f.submit :class => "btn" %>
<% end %>