<div class="content-left grid_6">
  <div class="person">
    <h1 class="name"><%= @user.name %></h1>

    <div class="prof_pic">
      <% if @user.avatar_file_name %>
        <%= image_tag @user.avatar.url(:medium), :class => "prof_image" %>
      <% else %>
        <%= image_tag "empty.png", :class => "prof_image" %>
      <% end %><br />
    </div>
    
    <% if @user == current_user %>
      <%= link_to "Edit Profile", edit_user_path(@user.username), :class => "edit"%><br />
    <% else %>
      <%= link_to "Ask for Help", new_request_path(:sender_id => @current_user.id, :receiver_id => @user.id)%>
    <% end %>

    <h3 class="occupation-label">Occupation: <span class="occupation"><%= @user.occupation %></span></h3>
    <h3 class="education-label">Education: <span class="education"><%= @user.college %>, <i><%= @user.degree %></i></span></h3>
  </div>

  <div class="reference_group grid_5">
    <h3>Latest Feedback</h3>
    <% if @user.reviews_received != [] %>
      <% @user.reviews_received.each do |r|%>
        <div class="reference grid_5">
          <div class="reviewer">
              <h5><%= link_to "#{r.sent_by.name}", user_path(r.sent_by.username), :class => "reviewer-name" %></h5>
            </a>
          </div>

          <div class="review">
            <p><%= r.body %></p>
          </div>
        </div>
      <% end %>
    <% else %>
    <div class="reference grid_5">
      <p>No reviews have been written</p>
     </div>
    <% end %>
  </div>
</div>

<div class="skills grid_7">
  <div class="label grid_7">
    <h3 class="skill-label">Skills</h3>
  </div>

  <div class="label_responses">
    <% if @user.my_skills != [] %>
      <ul class="skills">
        <% @user.my_skills.each do |skill| %>
          <%= render '/skills/skill', :skill => skill %>
        <% end %>
      </ul>
    <% else %>
       <p>No skills</p>
    <% end %>

    <% if @user == current_user %>
      <%= link_to "Add Skill!", "#", :class => "add", :id => "skills" %><br />
      <%= render '/skills/form', :skill => @skill %>
    <% end %>

  </div>
</div>

<div class="currently_learning grid_7">
  <div class="label grid_7">
    <h3 class="currently-learning-label">Currently Learning</h3>
  </div>

  <div class="label_responses">
    <% if @user.interests != [] %>
      <ul class="interests">
        <% @user.interests.each do |i| %>
          <%= render '/interests/interest', :interest => i %>
        <% end %>
      </ul>
    <% else %>
       <p>No interests</p>
    <% end %>

    <% if @user == current_user %>
      <%= link_to "Add Topic!", "#", :class => "add" , :id => "interests" %><br />
      <%= render '/interests/form', :interest => @interest %>
    <% end %>
    
  </div>
</div>




<div class="bio grid_6">    
  <h3>Personal Bio</h3>
  <% if @user.bio %>
    <p><%= @user.bio %></p>
  <% else %>
  <%= link_to "Write a bit about yourself!", "#{@user.username}/edit/#mybio", :class => "edit"%><br />
  <% end %>
</div>

  



<!-- People That Can Help You:<br /> -->

<%# @helpers.each do |helper| %>
  <%#= helper.name %>
<%# end %>

