<br />
<%= @user.name %><br />

<%= image_tag @user.avatar.url(:medium) %>

<h2>Bio</h2>
<%= @user.bio %><br /><br />




<h2>Skills</h2>
<% @user.my_skills.each do |skill| %>
    <h3><%= skill.tag %></h3> 
    <%= skill.description %>
<% end %>
	 
	
<br />

<%= link_to "Edit Profile", edit_user_path(@user.id) %>
