<div class="person grid_4">	
	<div class="name grid_4">       
		<h1><%= @user.name %></h1>
	</div>

          <div class="prof_pic grid_4">
		<% if @user.avatar_file_name %>
			<%= image_tag @user.avatar.url(:medium) %>
		<% else %>
			<%= image_tag("empty.png", :id => "search_image") %>
		<% end %><br />
          </div>
	
	<% if @user == current_user %>
		<%= link_to "Edit Profile", edit_user_path(@user.username), :class => "edit"%><br />
	<% else %>
		<%= link_to "Ask for Help", new_request_path(:sender_id => @current_user.id, :receiver_id => @user.id)%>
	<% end %>
  	</div>

<div class="skills grid_7">
	<div class="label grid_2">
		<h3>Skills</h3>
       </div>

    	<div class="label_responses grid_5">
		<% if @user.my_skills != [] %>
			<% @user.my_skills.each do |skill| %>
			    <p><%= skill.tag %></p> 
			    <p class="skill_description"><%= skill.description %></p>
			<% end %>
		<% else %>
			<i>No skills listed</i>
		<% end %>
    		</div>
   </div>

<div class="currently_learning grid_7">
	<div class="label grid_2">
		<h3>Currently Learning</h3>
	</div>

          <div class="label_responses grid_5">
		<% if @user.interests != [] %>
			<% @user.interests.each do |i| %>
				<p><%= i.tag%></p>
			<% end %>
		<% else %>
			<i>Not learning anything at the moment</i>
		<% end %>
          </div>
  	</div>

      <div class="education grid_5">
              <div class="label grid_1">
                  <h3>Education</h3>
              </div>

              <div class="label_responses grid_4">
                  <p> <strong><%= @user.high_school%></strong><br>
				<strong><%= @user.college %></strong><br>
				<em><%= @user.degree %></em>
			</p>
              </div>
      </div>

      <div class="occupation grid_5">
         	<div class="label grid_1">
               <h3>Occupation</h3> 
          </div>

          <div class="label_responses grid_4">
               <p><strong><%= @user.occupation %></strong></p>
          </div>
      </div>
		
<h2>Bio</h2>
<% if @user.bio %>
	<%= @user.bio %><br /><br />
<% else %>
	<i>No bio given</i>
<% end %>

<div class="reference_group grid_12">
   <h4>Latest Feedback</h4>
   <% @user.reviews_received.each do |r|%>
	   <div class="reference grid_12">
	           <div class="reviewer grid_4">
	                   <a href="#"><h5><%= r.sent_by %></h5></a>
	           </div>

	           <div class="review grid_8">
	                   <p><%= r.body %></p>
	           </div>
	   </div>
   <% end %>
</div>
	
	
	

<!-- People That Can Help You:<br /> -->

<%# @helpers.each do |helper| %>
  <%#= helper.name %>
<%# end %>

