<fieldset id="skill_<%= skill.id %>" >
	<li class="skill">
		<span class="skill-name"><%= skill.tag %></span>
    	<p class="skill-description"><%= skill.description %></p>
    	<% if current_user == @user %>
    		<%= link_to image_tag('bin.png', size: '20x20' ), skill_path(skill.id), method: 'delete', remote: :true %>
    		<%= link_to image_tag('pencil.png', size: '20x20'), edit_skill_path(skill.id), remote: :true %>
	    <% end %>
	</li>
</fieldset>