<li class="skill <%= skill.id %>" >
  <span class="skill-name"><%= skill.tag %></span><span class="skill_description"><%= skill.description %></span>
</li>

<%= image_tag('trash-can-icon.jpg', size: '20x20' ) %>
<%= image_tag('pencil.png', size: '20x20') %>