<!-- <h1>Received Requests</h1> -->

<% if @received != []%>
	<% @received.each do |request| %>
		
	 	<div class="title">
			<%= link_to "#{request.title}", request_path(request.id) %>
			<% if request.canceled? %>
				<%= "#{request.sent_by.first_name} canceled the request." %>
			<% elsif request.receiver_confirmation %>
				<%= "You have accepted this request." %>
			<% end %>
		</div>
	
		<div class="from">
			<label for="sender">From:</label>
			<p id="sender"><%= request.sent_by.name%></p>
		</div>

		<div class="deadline">
			<label for="deadline_date">Needs help by:</label>
			<p id="deadline_date"><%= request.deadline %></p>
		</div>

		<div class="request">
			<p><%= request.messages.first.body if request.messages.first %></p>
		</div>

		<ul class="request_options">
			<% if !request.canceled? %>
				<li><%= link_to "Accept", accept_path(:id => request.id) if request.receiver_confirmation != true%></li>
				<% if request.receiver_confirmation == true %>
					<li><%= link_to "Cancel", deny_path(:id => request.id) %></li>
				<% else %>
					<li><%= link_to "Deny", deny_path(:id => request.id) %></li>
				<% end %>
				
			<% end %>
		</ul>
	
	<% end %>
<% else %>
	<i>No requests have been received</i>
<% end %>		
	