
<table id="<%= identity %>_table">
	<thead>
		<% start_date = Date.today %>
		<% [@days, 21].min.times do |i| %>
			<% date = (start_date + i).strftime("%m/%d/%Y") %>
			<td class="day" id="<%=date%>"><%= (start_date + i).strftime("%a, %b %d") %></td>
		<% end %>

	</thead>
	
	<% times = ["9:00 AM", "9:30 AM", "10:00 AM", "10:30 AM", "11:00 AM", "11:30 AM",
				"12:00 PM", "12:30 PM", "1:00 PM", "1:30 PM", "2:00 PM", "2:30 PM",
				"3:00 PM", "3:30 PM", "4:00 PM", "4:30 PM", "5:00 PM", "5:30 PM", 
				"6:00 PM", "6:30 PM", "7:00 PM", "7:30 PM", "8:00 PM", "8:30 PM",
				"9:00 PM", "9:30 PM", "10:00 PM", "10:30 PM", "11:00 PM"] %>

	<% times.each_with_index do |t, i| %>
		<tr>		
			<% [@days, 21].min.times do |j| %>
				<td class="time" id=<%="#{i+1}_#{j+1}"%>><%="#{t}"%></td>
			<% end %>
		</tr>
	<% end %>

</table>


<p> Key: </p>
<p><font color = "00AA00"> Green = Available and Preferred </font></p>
<p> <font color = "grey"> Grey = Not Available </font> </p>