<h1>Request</h1>

<%= form_for(@request, :url => {:controller => :requests, :action => :update}) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>
      <ul>
      <% @request.errors.each_with_index.each do |msg, i| %>
        <li><%= msg[1] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
  	<%#= f.label :title %>
  	<%= f.text_field :title %>
    </div> -->

  <%= "Title of Request: #{@request.title}"%>

  <% if current_user.name == @request.receiver %>

  <div class="field">
	<%= f.label :from %>
	<%= f.text_field :start_time, :value => @start_time %>
  </div>
  
  <div class="field">
	<%= f.label :to %>
	<%= f.text_field :end_time, :value => @end_time %>
  </div>

  <!-- <div class="datepicker">
  	<%#= f.label :date %>
  	<%#= f.text_field :date, :value => @request.date %>
    </div> -->



  <%= "Find cafes and restaurants near: " %>
    <input type="text" id="find" value='<%= "#{@zipcode}" %>'>
    <a href="#" class="find">Find Locations</a>
    Not your zipcode? Type in your zipcode/neighborhood and find locations now!

  <%= link_to image_tag("yelp.png", :id => "yelp"), "yelp.com" %><br />

  <div class="locations">
	<%#= f.label :location %>
	<%= f.hidden_field :location %>
  </div>


  <div id="map_canvas" style="width:300px; height:300px"></div>

  <br />
  <br />
  <br />

  <div class="actions">
     <%= f.submit "Update Request" %>
  </div>

  <% end %>

<% end %>

<br /><br /><br />

<%= render 'messages' %>

<br /><br /><br />

<%= render 'message_field' %>