<h1>Send Request</h1>

<%= nested_form_for(@request, :url => {:controller => :requests, :action => :create}) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.each_with_index.each do |msg, i| %>
        <li><%= msg[1] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <div class="to">
	<label for="receiver">To:</label>
	<input type="text" name="receiver" id="receiver" placeholder=<%="#{@receiver}"%>>
  </div>	

  <div class="field">
	<%= f.label 'Title of Request: ' %>
	<%= f.text_field :title %>
  </div>

  <div class="datepicker deadline">
	<%= f.label "Need help by: " %>
	<%= f.text_field :deadline, :id => "deadline_date"%>
  </div>

  <%= f.fields_for :messages do |builder| %>
	<%= builder.label :message %>
	<%= builder.text_area :body, :size => "30x10", :id => "request" %>
  <% end %>

  <%= f.hidden_field :sender_id %>
  <%= f.hidden_field :receiver_id %>

  <br /><br /><br />

  <div class="actions">
     <%= f.submit "Request help from #{@receiver}", :class => "btn", :id => "send_message" %>
  </div>
<br /><br /><br />
<% end %>
