<%= form_for(@interest, :url => {:controller => 'interests', :action => "update"}, :remote => true) do |f| %>
  <% if @interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
      <% @interest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="interest_field">
   	<%= f.text_field :tag %>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>