<fieldset id="interest_<%= interest.id %>" >
	<li class="interest" >

	  <span class="skill-name"><%= interest.tag %></span>
    <%= link_to image_tag('bin.png', size: '20x20' ), interest_path(interest.id), method: 'delete', remote: :true %>
    <%= link_to image_tag('pencil.png', size: '20x20'), edit_interest_path(interest.id), remote: :true %> 
    <p class="skill-description"><%= interest.description %></p>
	</li>
</fieldset>