<!DOCTYPE html>
<html>
<head>
  <title>Linguamocha</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= render 'layouts/header' %>
<div class="container_12">
	<%= yield %>
</div>
<%= render 'layouts/footer' %>


</body>
</html>
